.footor{
    width: 100%;
    height:auto;
    min-height: 170px;
    margin: 3px auto;
}
.fTitle{
    width: 767px;
    height: auto;
    margin: 0px auto;
}
.Fcontent{
    width: 900px;
    height: auto;
    min-height: 150px;
    margin: 0px auto;
}
.Fcontent ul{
    width:auto;
    display: -webkit-box;
    display: -moz-box;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    list-style: none;
    margin: 10px 0px;
    padding: 0px;
}
.Fcontent ul li{
    font-size: 15px;
    margin: 0px 10px;
}
.Fcontent p{
    text-align: center;
    font-size: 12px;
    line-height:20px;
}